<form method="post" action="{{ path('app_equipement_bateau_delete', {'id': equipement_bateau.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipement_bateau.id) }}">
    <button class="btn">Delete</button>
</form>
