<form method="post" action="{{ path('app_liaison_delete', {'id': liaison.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liaison.id) }}">
    <button class="btn">Delete</button>
</form>
