{% extends 'base.html.twig' %}

{% block title %}Edit Secteur{% endblock %}

{% block body %}
    <h1>Edit Secteur</h1>

    {{ include('secteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_secteur_index') }}">back to list</a>

    {{ include('secteur/_delete_form.html.twig') }}
{% endblock %}
