{% extends 'base.html.twig' %}

{% block title %}New Port{% endblock %}

{% block body %}
    <h1>Create new Port</h1>

    {{ include('port/_form.html.twig') }}

    <a href="{{ path('app_port_index') }}">back to list</a>
{% endblock %}
